body {
  font-family: $main-font;
}

a {
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: inherit;
    outline: none;
  }
}

.dark-blue-text {
  color: $very-dark-blue;
}

.grayish-violet-text {
  color: $grayish-violet;
}
