.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
[role="button"]:focus {
  outline: 0;
  box-shadow: none;
}

.btn-cyan {
  background-color: $cyan;
  border-radius: 30px;
  color: $white;
  min-height: 42px;
  font-weight: 500;
  min-width: 150px;
  &:hover {
    opacity: 0.6;
    transition: opacity ease-out 0.3s;
    color: $white;
  }
}

.btn-violet {
  background-color: $dark-violet;
  color: $white;
  font-weight: 500;
  border-radius: 5px;
  min-height: 30px;
  min-width: 100px;
  &:hover {
    opacity: 0.6;
    transition: opacity ease-out 0.3s;
    color: $white;
  }
}
