.navbar {
  padding-top: 50px;
  .navbar-brand {
    margin-right: 2rem;
    img {
      object-fit: contain;
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $grayish-violet;
        padding-right: 1rem;
        font-weight: 500;
        &:hover {
          color: $very-dark-violet;
          cursor: pointer;
          transition: color ease-out 0.3s;
        }
      }
    }
    .navbar-text {
      color: $grayish-violet;
      padding-right: 1.7rem;
      font-weight: 500;
      &:hover {
        color: $very-dark-violet;
        cursor: pointer;
        transition: color ease-out 0.3s;
      }
    }
    .btn-cyan {
      min-width: 105px;
    }
  }
}
