.hero-section {
  padding: 70px 0 150px 0;
  position: relative;
  overflow: hidden;
  h1 {
    font-weight: 700;
    font-size: 68px;
  }
  p {
    font-size: 18px;
    width: 80%;
    margin-bottom: 25px;
  }
}

.shorten-section {
  min-height: 170px;
  background: $dark-violet url("../../images/bg-shorten-desktop.svg") no-repeat;
  border-radius: 8px;
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  width: 60%;
  margin: 0 auto;
  padding: 0 30px;
  .form-control {
    height: 50px;
    border: none;
    &::placeholder {
      color: $grayish-violet;
    }
    &.input-error {
      border: 2px solid $red;
      &::placeholder {
        color: $red;
        opacity: 0.6;
      }
    }
  }
  .btn-cyan {
    border-radius: 5px;
    height: 50px;
    width: 100%;
  }
  small {
    font-style: italic;
    font-weight: 500;
    opacity: 0.8;
    margin-top: 5px;
  }
}

.urls-section {
  width: 78%;
  margin: 0 auto;
  min-height: 50px;
  .urls-list {
    .url-box {
      background-color: $white;
      border-radius: 5px;
      width: 100%;
      min-height: 50px;
      margin-bottom: 15px;
      padding: 10px 15px;
      .btn-cyan {
        border-radius: 5px;
        min-height: 30px;
        min-width: 100px;
      }
    }
  }
}

.statistics-section {
  padding: 100px 0 100px 0;
  background-color: rgb(239, 241, 247);
  position: relative;
  h2 {
    font-weight: 700;
    margin-top: 80px;
  }
  .subtitle {
    font-size: 18px;
    width: 48%;
    margin-bottom: 25px;
    text-align: center;
  }
  .statistics-box {
    background-color: $white;
    border-radius: 5px;
    width: 100%;
    min-height: 250px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 70px;
    &::after {
      content: "";
      width: 100px;
      height: 8px;
      background: $cyan;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(0, -100%);
    }
    &.middle {
      margin-top: 110px;
    }
    &.last {
      margin-top: 150px;
      &::after {
        width: 0px;
      }
    }
    .icon {
      background-color: $dark-violet;
      height: 75px;
      width: 75px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -35px;
      img {
        object-fit: contain;
        height: 35px;
        width: 35px;
      }
    }
    h4 {
      font-weight: 700;
      margin-bottom: 15px;
      margin-top: 30px;
    }
    p {
      width: 100%;
      font-size: 16px;
      margin-bottom: 0px;
    }
  }
}

.boost-section {
  height: 250px;
  background: $dark-violet url("../../images/bg-boost-desktop.svg") no-repeat
    left top;
  h2 {
    font-weight: 700;
    margin-bottom: 20px;
  }
}
