html,
body {
  height: 100%;
  margin: 0;
}

.form-control:focus,
.form-control:focus,
.form-control:hover {
  outline: 0;
  box-shadow: none;
  border-color: $cyan;
}

.clickable {
  cursor: pointer;
}
